#### Introduction To Lists
- Lists are ordered, mutable collections of items.
- They can contain items of different data types.

##### Video Outline:
1. Introduction to Lists
2. Creating Lists
3. Accessing List Elements
4. Modifying List Elements
5. List Methods
6. Slicing Lists
7. Iterating Over Lists
8. List Comprehensions
9. Nested Lists
10. Practical Examples and Common Errors

In [25]:
lst=[]
print(type(lst))

<class 'list'>

In [26]:
names=["Krish","Jack","Jacob",1,2,3,4,5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [27]:
mixed_list=[1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [28]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]

In [29]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [30]:
companies=["JPMorgan", "Mitie", "Hayes", "Link", "Google"]

In [31]:
print(companies[1])
print(companies[2])
print(companies[4])
print(companies[0])
print(companies[3])
print(companies[1:3])
print(companies[0:4])

Mitie
Hayes
Google
JPMorgan
Link
['Mitie', 'Hayes']
['JPMorgan', 'Mitie', 'Hayes', 'Link']

In [32]:
companies

['JPMorgan', 'Mitie', 'Hayes', 'Link', 'Google']

In [33]:
companies[1]="Youtube"
print(companies[0:5])

['JPMorgan', 'Youtube', 'Hayes', 'Link', 'Google']

In [34]:
print(fruits[1:])
print(fruits[1:3])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']

In [35]:
## Modifying The List elements
fruits

['apple', 'banana', 'cherry', 'kiwi', 'gauva']

In [36]:
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [37]:
fruits[1:]="watermelon"

In [38]:
fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [39]:
fruits=["apple","banana","cherry","kiwi","gauva"]

In [40]:
## List Methods

fruits.append("orange") ## Add an item to the end
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [41]:
# add an item at the end in the list
companies.append("Apple")
print(companies)

['JPMorgan', 'Youtube', 'Hayes', 'Link', 'Google', 'Apple']

In [42]:
# insert the item in index 1 
companies.insert(1,"Udemy")
print(companies)

['JPMorgan', 'Udemy', 'Youtube', 'Hayes', 'Link', 'Google', 'Apple']

In [43]:
fruits.insert(1,"watermelon")
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva', 'orange']

In [44]:
# remove the item in the list thats in the first
fruits.remove("banana") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [45]:
companies.remove("Youtube")
print(companies)

['JPMorgan', 'Udemy', 'Hayes', 'Link', 'Google', 'Apple']

In [46]:
## Remove and return the last element
popped_fruits=fruits.pop()
print(popped_fruits)
print(fruits)

orange
['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [47]:
popped_companies = companies.pop()
print(popped_companies)
print(companies)

Apple
['JPMorgan', 'Udemy', 'Hayes', 'Link', 'Google']

In [48]:
index=fruits.index("cherry")
print(index)

2

In [49]:
index = companies.index("Link")
print(index)

3

In [50]:
fruits.insert(2,"banana")
print(fruits.count("banana"))

1

In [51]:
companies.insert(3, "Udemy")
print(companies.count("Udemy"))

2

In [52]:
fruits

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'gauva']

In [53]:
fruits.sort() ## SSorts the list in ascending order

In [54]:
companies.sort()

In [55]:
companies

['Google', 'Hayes', 'JPMorgan', 'Link', 'Udemy', 'Udemy']

In [56]:
companies.reverse()

In [57]:
companies

['Udemy', 'Udemy', 'Link', 'JPMorgan', 'Hayes', 'Google']

In [58]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [59]:
fruits.reverse() ## REverse the list

In [60]:
fruits

['watermelon', 'kiwi', 'gauva', 'cherry', 'banana', 'apple']

In [61]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [62]:
## Slicing List
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [63]:
##Slicing List

marks = [84,85, 86, 87, 88, 89, 90]
print(marks[2:4])
print(marks[2:5])
print(marks[2:6])
print(marks[2:7])

[86, 87]
[86, 87, 88]
[86, 87, 88, 89]
[86, 87, 88, 89, 90]

In [64]:
numbers[::3]

[1, 4, 7, 10]

In [65]:
marks[::3]

[84, 87, 90]

In [66]:
numbers[::-2]

[10, 8, 6, 4, 2]

In [67]:
### Iterating Over List

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [68]:
for mark in marks: 
    print(mark)

84
85
86
87
88
89
90

In [69]:
## Iterating with index
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [70]:
for index,mark in enumerate(marks):
    print(index,mark)

0 84
1 85
2 86
3 87
4 88
5 89
6 90

In [71]:
## List comprehension
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [72]:
lst= []
for x in range(10):
    lst.append(x**2)
    print(lst)

[0]
[0, 1]
[0, 1, 4]
[0, 1, 4, 9]
[0, 1, 4, 9, 16]
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36]
[0, 1, 4, 9, 16, 25, 36, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [74]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### List Comprehension

Basics Syantax            [expression for item in iterable]

with conditional logic    [expression for item in iterable if condition]

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [75]:
### Basic List Comphrension

sqaure=[num**2 for num in range(10)]
print(sqaure)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [76]:
sq=[num**2 for num in range(10)]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
### List Comprehension with Condition
lst=[]
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [78]:
lst=[]
for i in range(10): 
    if i%2==0: 
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

In [79]:
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [80]:
evn_number=[num for num in range(20) if num%2==0]
print(evn_number)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [81]:
## Nested List Comphrension

lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [85]:
num_lst= [1,2,3,4]
num_lst2=['a','b','c','d']

pairs=[[i,j] for i in num_lst for j in num_lst2]
print(pairs)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [83]:
## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[5, 5, 6, 4, 13]

In [86]:
companies = ["Google","Youtube","Hayes", "Recruitment"]
lengths = [len(company) for company in companies]
print(lengths)

[6, 7, 5, 11]

#### Conclusion
List comprehensions are a powerful and concise way to create lists in Python. They are syntactically compact and can replace more verbose looping constructs. Understanding the syntax of list comprehensions will help you write cleaner and more efficient Python code.